body{
    background: silver;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    width: 30%;
    margin-bottom: 15px;
    border: 1px solid white;
    padding: 15px;
    box-sizing: border-box;
}

p{
    color: #666;
}

h2{
    color: darkblue;
}

input,
textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form{
    margin-top: 20px;
    padding: 10px;
    border: 1px solid white;
    box-sizing: border-box;
}

button{
    padding: 10px;
    background-color: forestgreen;
    color: white;
    border: none;
    cursor: pointer;
}
